.movieRow {
    margin-top: 30px;
}

.movieRow h2 {
    margin: 0px 0px 0px 30px;
}

.movieRowListarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.movieRowList {
    width: 9999999px;
}

.movieRowItem {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movieRowItem img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movieRowItem img:hover {
    transform: scale(1);
}