header {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0;
    right: 0;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
}

header.black {
    background-color: var(--black);
}

.headerLogo {
    height: 35px;
}

.headerLogo img {
    height: 100%;
}

.headerUser {
    height: 40px;
}

.headerUser img {
    height: 100%;
    border-radius: 3px;
}